{% extends "base.html" %}
{% block title %}create {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="mt-3 mb-3">
    <h2>Create account</h2>
</div>
<div class="row justify-content-center">
    <div class="col-6">
        <form action="." method="post">
            {{ form|crispy }}
            {% csrf_token %}
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-success" value="create">Create</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}