{% extends "base.html" %}

{% block title %}My Serials{% endblock %}

{% block content %}
    <h1>My Serials</h1>
    {% for serial in serials %}
        <p>
            <a href="{% url 'my_serials:details' %}{{ serial.serial_id }}" id="modal-trigger" class="movies__item-expander">{{ serial.title }} {{ serial.air_date }}</a>
        </p>
        <p>
            <img class="details__image" src='https://image.tmdb.org/t/p/w200{{ serial.poster_path }}'/>
        </p>
        <p>
            <a href="delete/{{ serial.id }}">Delete</a>
        </p>
        <p>
            Next Episode: {{ serial.next_to_air.next_date }} {{ serial.next_to_air.next_name }}
            <p>{{ serial.next_to_air.overview }}</p>
        </p>
    {% endfor %}
{% endblock %}
