{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-center">
            <form class="form-inline mt-2 mt-md-0" method="GET" action=".">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="query" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
    </div>
    <div class="container">
        {% for serial in search_result %}
            {% if serial.poster_path %}
                <div>
                    <a href="{% url 'my_serials:details' %}{{ serial.id }}">View Details</a>
                    {% if serial.in_production %}
                        {% if not serial.in_list %}
                            <form action="add/" method = "POST">
                                {% csrf_token %}
                                <input type="number" name="serial_id" value="{{ serial.id }}" hidden/>
                                <button type="submit" class="btn btn-success">Add</button>
                            </form>
                        {% else %}
                        <div class="alert alert-warning" role="alert">
                            Already in your list
                        </div>
                        {% endif %}
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            Show is canceled
                        </div>
                    {% endif %}
                    <p>{{ serial.name }}</p>
                    <p>{{ serial.in_production }}</p>
                    <p>{{ serial.first_air_date }}</p>
                    <p>{{ serial.overview }}</p>
                    <img src='https://image.tmdb.org/t/p/w300{{ serial.poster_path }}'/>
                </div>
            {% endif %}
        {% empty %}
            <p>No results found</p>
        {% endfor %}
    </div>

{% endblock content %}