{% load static %}
<!DOCTYPE html>
<html lang="en">
    <title>{% block title %}My Serials{% endblock %}</title>
<head>
<!--    <link rel="stylesheet" href="{% static 'style.css' %}"/>-->
</head>
<body>
<header>
    <a href="{% url "my_serials:all_serials" %}">My serials</a>
    <a href="{% url "my_serials:search_form" %}">Add serial</a>
    {% if request.user.is_authenticated %}
        Hi {{ request.user.first_name }}
    <a href="{% url "my_serials:logout" %}"> Logout </a>
    {% else %}
        <a href="{% url "my_serials:login" %}"> Login </a>
    {% endif %}
</header>
    {% block content %}
    {% endblock %}
    <div class="footer">
        <img src="{% static 'resources/powered_by_tmdb.png' %}" alt="" height="50rem" style="margin:1rem 1rem">
    </div>
</body>
</html>